body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    min-height: 112px;
    background-color: #082029;
}

main {
    display: flex;
    flex: 1;
    background-color: #05171E;
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    text-align: center;
}

.pokemon-container {
    display: flex;
    flex-direction: column;
    background-color: #082128;
    height: 250px;
    width: 200px;
    margin: 20px;
    border-radius: 15px;
}

.pokemon-image-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.pokemon-image {
    aspect-ratio: 1 / 1;
}

.type-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.type-image {
    width: 100px;
    height: 25px;
}

footer {
    min-height: 112px;
    background-color: #082029;
}