.normal-background {
    background-color: #A8A77A;
}

.fighting-background {
    background-color: #C22E28;
}

.flying-background {
    background-color: #A98FF3;
}

.poison-background {
    background-color: #A33EA1;
}

.ground-background {
    background-color: #E2BF65;
}

.rock-background {
    background-color: #B6A136;
}

.bug-background {
    background-color: #A6B91A;
}

.ghost-background {
    background-color: #735797;
}

.steel-background {
    background-color: #B7B7CE;
}

.fire-background {
    background-color: #EE8130;
}

.water-background {
    background-color: #6390F0;
}

.grass-background {
    background-color: #7AC74C;
}

.electric-background {
    background-color: #F7D02C;
}

.psychic-background {
    background-color: #F95587;
}

.ice-background {
    background-color: #96D9D6;
}

.dragon-background {
    background-color: #6F35FC;
}

.dark-background {
    background-color: #705746;
}

.fairy-background {
    background-color: #D685AD;
}

